body {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    margin: 2rem;
}

h1 {
    color: #000000;
}

form {
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 1rem;
}

input[type="text"], input[type="number"], select {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 300px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
    color: ;
}

ul li {
    margin-bottom: 5px;
}
